# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Database & JSON (jangan ignore biar bisa di-commit)
# !links.db
# !links.json

# Sitemap directory (ignore isi folder tapi commit foldernya)
sitemaps/*.xml
!sitemaps/.gitkeep

# File sementara
*.log
*.tmp
.DS_Store
