# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# HTML pages (ignore semua, tapi kita commit links.json)
html_pages/
*.html

# File sementara
*.log
*.tmp
.DS_Store
